aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: #0e317c;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #0e317c;
    /* Cambiar por el tono de azul deseado */
    color: #fff;
    /* Cambiar el color del texto a blanco */
    padding: 30px 0;
    /* Añadir un poco de espacio interno al footer */
    z-index: 2;
}

#gasto::placeholder {
    color: red;
}

#venta::placeholder {
    color: green;
}

#login {
    background-color: black;
}



.form-group {
    text-align: center;
}

h1 {
    color: rgb(133, 14, 14);
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
}


h3 {
    color: white;
    text-align: center;
}


footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%; /* asegurar que el footer ocupe todo el ancho */
    background-color: #0e317c;
    /* Cambiar por el tono de azul deseado */
    color: #fff;
    /* Cambiar el color del texto a blanco */
    padding: 30px 0;
    /* Añadir un poco de espacio interno al footer */
    z-index: 3;

}

#formulario {
    background-color: rgb(255, 255, 255);
}

#sup {
    color: red;
}

.caja {
    background: #ffffff;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 10px;
}

.caja2 {
    background-color: goldenrod;
}